[class^="uiIconWeemo"], .btn.disabled:hover  [class^="uiIconWeemo"] {
  background-image: url('/weemo-extension/img/uiIconWeemoDarkGray.png');
}

.nav-pills > .active > a > [class^="uiIconWeemo"],
.nav-list > .active > a > [class^="uiIconWeemo"],
.navbar-inverse .nav > .active > a > [class^="uiIconWeemo"],
.btn:hover [class^="uiIconWeemo"], a:hover [class^="uiIconWeemo"],
.actionIcon.active [class^="uiIconWeemo"],.nodeSelected:hover [class^="uiIconWeemo"],
[class^="uiIconWeemo"]:hover, .uiActionBar [class^="uiIconWeemo"]:hover, .uiIconWeemoBlue
 {
  background-image: url('../img/uiIconWeemoBlue.png');
}

.uiIconWeemoLightGray {
  background-image: url('/weemo-extension/img/uiIconWeemoLightGray.png');
}

.uiIconWeemoWhite
 {
  background-image: url('/weemo-extension/img/uiIconWeemoWhite.png');
}

.uiIconWeemoVideoCalls {
  background-position: 0px 0px;
}

.uiVideoCallAdminPortlet .PemissionInputset{
	margin-right:4px;
}

button.close{
	background-image: url("/eXoResources/skin/images/Icons/uiIconsLightGray.png");
	background-position: -160px -100px;
}

.weemo-alert{
	 position: absolute; 
	 top: 32px; 
	 width: 100%; 
	 text-align:center; 
	 border: none; 
	 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	 font-size: 14px;
	 opacity: 0.9;
	 padding: 8px 0;
	 border-radius: 0px;
}

.uiVideoCallAdminPortlet{
	padding: 32px;
}

.uiVideoCallAdminPortlet h3{
	text-align: left;
    text-shadow: 0 3px 4px #fff;
    margin:-7px 0 0px; 
	color: #2F5E92;
}

.uiVideoCallAdminPortlet h4{
    margin:14px 0; 
}

.uiVideoCallAdminPortlet .row .span5 p{
    padding: 6px 0 0 0;
}

.uiVideoCallAdminPortlet .control-group .uiCheckbox{
	margin: 0px;
}

.uiVideoCallAdminPortlet .weemoKey .control-label{
	text-align: left;
    width: auto;
	text-align: right;
}
.uiVideoCallAdminPortlet .control-group.weemoKey{
	margin-bottom: 8px;
}

.uiVideoCallAdminPortlet .weemoKey .controls{
	margin-left: 85px;
}

.uiVideoCallAdminPortlet .weemoKey .controls{
	margin-left: 85px;
}

.uiVideoCallAdminPortlet .actionTestWeemo{
	text-align: center;
	margin-bottom: 28px;
}

.uiVideoCallIconWarning {
    background: url("/eXoResources/skin/images/Icons/uiIconColor.png") no-repeat scroll -20px top rgba(0, 0, 0, 0);
    width: 16px;
	vertical-align: text-top;
	height: 16px;
	display: inline-block;
}

.modal {   
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    position: absolute;
    margin-left: auto;
    min-width: 560px;
    margin-top: 0px;
}

.connectAction .btn{
	margin-top: 5px;
}

.confirmationVideoCallIcon {
  	background: url(/eXoResources/skin/images/PopupMessage/icons.png) no-repeat;
	padding-left: 20px;
	line-height: 16px;
	height: 16px;
	color: #333333;


	background-position: left -50px;
	font-weight: normal;
	display: block;
	margin: 10px 10px 20px;
}


.btn.disabled{
	font-weight: normal;
}

